<div>
  <img src='/images/beer.png' alt='beer_img' />
</div>

<div>
  <button><a href='/beers'>Check the Beers! </a></button>
</div>
<div>
  <button><a href='/random-beer'>Check a randon beer! </a></button>
</div>